<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="False" />
  </packageRestore>
  <packageSources>
    <clear />
    <add key="AspNet CIDev" value="https://www.myget.org/F/aspnetcidev/api/v3/index.json" />
    <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="xUnit Prerelease" value="https://www.myget.org/F/xunit/" />
    <add key="Private Feed" value="http://40.123.48.16/MyFeed/nuget" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Local" value="F:\Nuget" />
  </packageSources>
  <activePackageSource>
  </activePackageSource>
  <disabledPackageSources>
    <add key="dotnet-core" value="true" />
    <add key="Temp" value="C:\Users\kwaclaw\Downloads" />
  </disabledPackageSources>
</configuration>